%section.intro-section
  .wrap
    .subheader-wrap
      %i.subheader-has-lines
        %span.subheader--black DockYard Presents
    %h1.intro__header.section__header Wicked Good Ruby 2014
    %h2.section__subheader October 11<span class="is-superscript">th</span> - 13<span class="is-superscript">th</span><span class="text-divider">// </span>Boston, MA
    .intro__button-wrap
      %a.intro__button{href: "", target: '_blank'}
        %span.intro__button__message1 I Wanna Go!
        %span.intro__button__message2 Please, Can I?
    %a.intro__scroll-down{href: "#speakers"}
      %span.intro__scroll-down__icon{aria: {hidden: "true"}, data: {icon: "⌄"}}
      %span.for-screen-reader Scroll Down

%section.speakers-section#speakers
  .wrap
    %h1.section__header Speakers
    %p.wrap--text--center We are looking to gather up to 9 speakers and 1 keynote speaker for Boston&rsquo;s first Ember conference!
    .button-wrap
      %a.button{href: "", target: "_blank"} Submit a Talk

  %ul.speakers
    %li.speaker
      %a.speaker__diamond{href: "", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond{href: "", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond
        .speaker__image
    %li.speaker
      %a.speaker__diamond{href: "", target: "_blank"}
        .speaker__image{data: {icon:"♀"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond{href: "", target: "_blank"}
        .speaker__image{data: {icon:"♀"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond
        .speaker__image
    %li.speaker
      %a.speaker__diamond{href: "", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
