%section.intro-section
  .wrap
    .subheader-wrap
      %i.subheader-has-lines
        %span.subheader--black DockYard Presents
    %h1.intro__header.section__header Wicked Good Ruby 2014
    %h2.section__subheader October 11<span class="is-superscript">th</span> - 12<span class="is-superscript">th</span><span class="text-divider">// </span>Boston, MA
    .wrap--text--center
      %p.intro__desc Join us in Boston this October for the 2<span class="is-superscript">nd</span> annual Wicked Good Ruby Conference. This year will be a single-track conference taking place over two evenings. Events will be planned prior to the conference each day.
    <iframe class="intro__video" src="//player.vimeo.com/video/95067008" width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .intro__button-wrap
      %a.intro__button{href: "https://ti.to/wicked-good/ruby-2014", target: "_blank"}
        %span.intro__button__message1 I Wanna Go!
        %span.intro__button__message2 Please, Can I?
    %a.intro__scroll-down{href: "#speakers"}
      %span.intro__scroll-down__icon{aria: {hidden: "true"}, data: {icon: "⌄"}}
      %span.for-screen-reader Scroll Down

%section.speakers-section#speakers
  .wrap
    %h1.section__header Speakers
    %p.wrap--text--center This year we will have a single track over two days. Each talk will be limited to a 20 minute slot. We will prioritize talks that are original and technically challenging. We expect to have over 20 speakers.
    .button-wrap
      %a.button{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"} Submit a Talk

  %ul.speakers
    %li.speaker
      %a.speaker__diamond{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond
        .speaker__image
    %li.speaker
      %a.speaker__diamond{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"}
        .speaker__image{data: {icon:"♀"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"}
        .speaker__image{data: {icon:"♀"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
    %li.speaker
      %a.speaker__diamond
        .speaker__image
    %li.speaker
      %a.speaker__diamond{href: "https://docs.google.com/forms/d/1XQjBAhZd5mvI8i5BE2SyW7j1vidq6vH7x9O-KjempwA/viewform", target: "_blank"}
        .speaker__image{data: {icon:"♂"}}
        .speaker__image-overlay
          %h5.speaker__image-overlay__header This Could Be You!
