!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston's Annual Ruby Conference
    %link{href: "/assets/2014/application.css", rel: "stylesheet"}
    %script{src: "/assets/2014/application.js", type: "text/javascript"}
    %meta{name: "description", content: 'Wicked Good Ruby Conf is a two day, double track Ruby conference being held in Boston, Massachusetts'}
    %meta{name: 'keywords',    content: 'ruby, conference, rails, jruby, ios, rubymotion, postgresql'}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name: "viewport"}
    /[if lt IE 9]
      <script src='assets/html5shiv.js'></script>

  %body
    %nav.top-nav
      .top-nav__item--logo{aria: {hidden: "true"}, data: {icon: "⌂"}}
        %span.for-screen-reader Wicked Good Conferences
      %a.top-nav__item{href: "", target: "_blank"} Register

    %section.main
      = yield

      .footer-has-carrot
      %footer
        .wrap
          %section.footer__sponsors
            .subheader-wrap
              %i.subheader-has-lines
                %span.subheader--white A Very Special Thank You
            %h1.section__header Sponsors

            %p.wrap--text--center
              This year we expect to draw over 400 rubyists to Wicked Good Ruby. If you would like to expose your brand to this once-a-year regional opportunity, please consider sponsoring our event. Take a look at our
              %a.text-link{href: "/pdfs/prospectus.pdf", target: "_blank"} sponsor prospectus
              for more information.

            .button-wrap
              %a.button{href: "", target: '_blank'} Sponsor Us

          %a.footer__link{href: "http://dockyard.com", target: "_blank"}
            %h4
              %span.footer__link__logo{aria: {hidden: "true"}, data: {icon: "⎈"}}
              This site was designed &amp; developed by DockYard, Inc.

