%section.schedule-section
  %h1.section__header Schedule

  %h2.section__subheader 6/16<span class="text-divider">// </span>Monday
  %ul.schedule__slots
    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 8:00 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"⚒"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Workshop
          %p.schedule__slot__desc A one-day introduction to Ember.js workshop taught by DockYard.

  %h2.section__subheader 6/17<span class="text-divider">// </span>Tuesday
  %ol.schedule__slots
    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 8:00 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"✏"}}
          .schedule__slot__image--under{data: {icon:"✎"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Registration
          %p.schedule__slot__desc Sign in and get yourself prepared for the day&rsquo;s events.

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 9:00 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"✪"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Opening
          %p.schedule__slot__desc A brief introduction to the day&rsquo;s events.

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 9:30 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♀"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 10:10 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 10:50 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♀"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 11:30 am
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 1:00 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"⌾"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Catered Lunch

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 1:40 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♀"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 2:20 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 3:00 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"⊚"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Snack Break

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 3:30 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 4:10 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time 4:50 pm
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♂"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info TBD
          %a.schedule__slot__desc.text-link{href: "", target: "_blank"} This could be you!

    %li.schedule__slot-wrap
      .schedule__slot
        %p.schedule__slot__time TBD
        .schedule__slot__image-wrap
          .schedule__slot__image{data: {icon:"♥"}}
          .schedule__slot__image--under{data: {icon:"♡"}}
        .schedule__slot__info-wrap
          %h3.schedule__slot__info Party
